*{
	padding: 0;
	margin: 0;
}
*::selection{
	background: gray;
}
header{
	position: fixed;
	background: #171717;
	width: 100%;
	height: 50px;
	z-index: 5;
}
.header-body{
	position: relative;
}
nav{
	text-align: center;
}
nav button {
	background: #171717;
	cursor: pointer;
	color: white;
	font-size: 17px;
	padding: 15px;
	border: none;
	margin-right: -5px;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	outline: none;
}
nav button:hover{
	background: #44bbaa;
}.burger-menu{
	display: none;
}
@media(max-width: 768px){
	nav{
		display: none;
	}
	.burger-menu{
		position: absolute;
		display: block;
		width: 40px;
		height: 30px;
		top: 5px;
		right: 20px;
	}
	.burger-menu:before,
	.burger-menu:after{
		content: '';
		display: block;
		background: white;
		width: 100%;
		height: 3px;
		position: absolute;
	}
	.burger-menu:after{
		bottom: 0;
	}
	.burger-menu span{
		background: white;
		position: absolute;
		width: 100%;
		height: 3.5px;
		top: 13px;
	}
}
.profile_btn{
}
.resume_btn{

}
.jobs_btn{

}
.contact_btn{

}
.content{

}
.under_header{
	background: url('../img/Я как депутат.jpeg');
	background-size: cover;	
	background-position: 0 50%;
	width: 100%;
	height: 520px;
	color: #000;
    display: flex;
    align-items: center;
    align-content: center; 
    justify-content: center; 
    overflow: auto;
}
.author_inf{
	background: ;
	width: 400px;
	margin-bottom: 130px;
	padding: 10px;
}
@media(max-width: 1000px){
	.author_inf{
		position: relative;
		bottom: -100px;
	}
}
.author_inf_name{
	text-align: center;
	width: 400px;
	font-size: 60px;
	border-bottom: 2px solid #000;
}
.author_profession_contact{
	margin-top: 5px;
	text-align: center;
	font-size: 19px;
	font-size: 19px;
	font-weight: 100;
}
.about{
	display: flex;
	width: 100%;
	height: 200px;
	background: #2c3e50;
	color: #fff;
	justify-content: center;
}
.about_container{
	font-weight: 100;
	display: flex;
	justify-content: space-between;
	width: 900px;
	font-size: 18px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.about_container_about{
	display: flex;
	align-items: center;
}
.about_pdf a{
	color: white;
	text-decoration: none; 
}
.about_text{
	padding: 35px;
	text-transform: uppercase;
}
.about_pdf{
	padding: 35px;
}
.blablabla{
	background: #fff;
	width: 100%;
	height: 1000px
}
.skills{
	width: 100%;
	height: 450px;
	background: #2c3e50;
	position: relative;
	padding: 50px 0px;
}
.skills-row{
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
}
.skills_text{
	color: white;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	text-transform: uppercase;
}
.skills-item{
	width: 500px;
}
.skills-item-row{
	display: flex;
	justify-content: space-between;
}
.html-css-skill-round{
	display: flex;
	border-radius: 50%;
	width: 150px;
	height: 150px;
	background: #1abc9c;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
}
.html-css-skill-text{
	color: white;
	text-align: center;
	margin-top: 10px;
	font-size: 20px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-weight: 100;
	letter-spacing: 1px;
}
.html-css-skill-ring{
	background: #2c3e50;
	width: 140px;
	height: 140px;
	border-radius: 50%;
}
.html-css-skill-centralround{}
.row{ 
	position: relative;
	display: flex;
	width: 100%;
	height: 1000px;
	background: #fff;
}
.contact{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	background: #2f2f2f;
	color: silver;
	width: 100%;
	padding: 50px 0px;
}
@media(max-width: 900px){
	.contact-body{
		flex-direction: column;
		align-items: center;
	}
	.contact-list{
		order: 3;
	}
	.contact-form{
		order: 2;
		padding: 0px 0px 50px 0px;
	}
	.contact-text{
		order: 1;
		padding: 0px 0px 50px 0px;
	}
}
.contact-body{
	width: 100%;
	display: flex;
	justify-content: space-around;
}
.contact-text{
	text-transform: uppercase;
}
.contact-list{
	width:120px;
}
.contact-list p{
	padding: 10px 0px 5px 0px;
}
.email p:first-child{
	padding: 0px 0px 5px 0px;
}
.social-links a{
	color: #fff;
	text-decoration: none;
	padding: 0px 5px 0px 0px;
}
.contact-list-youtube:before{
	content: '';
	background: url('');
	width: 20px;
	height: 20px;
	position: absolute;
}
.contact-form input{
	width: 400px;
	height: 25px;
	padding: 10px;
	outline: none;
	border: none;
}
.contact-form input:focus{
	box-shadow: 0 0 4px #44bbaa;
}
.contact-form-text{
	text-transform: uppercase;
	margin-bottom: 20px;
}
.contact-form-user-text{
	padding: 10px 0px 10px 0px;
}
.contact-form-message-area{
	width: 400px;
	height: 100px;
	padding: 10px;
	outline: none;
}
.contact-form-message-area:focus{
	box-shadow: 0 0 4px #44bbaa;
}
.contact-form-send-btn{
	background: #44bbaa;
	border: none;
	color: white;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 15px;
	border-radius: 5px;
	cursor: pointer;
	padding: 14px 25px;
	margin-top: 10px;
	margin-left: 10px;
	outline: none;
}
.contact-form-send-btn:hover{
	background: #38A3AAFF;
	transition-duration: 0.5s;
	transition-timing-function: linear;
}
footer{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	background: #242424;
	width: 100%;
	height: 100px;
	color: #fff;
}
.footer_copytight{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.cop_created{
	padding-top: 10px;
	text-align: center;
	color: gray;
}
/*For Github*/
.warning{
	position: fixed;
	width: 40px;
	height: 40px;
	background: red;
	border: 1px solid black;
	top: 50%;
	left: 0;
	user-select: none;
	cursor: pointer;
}
.warning-text{
	position: relative;
	color: white;
	font-size: 40px;
	text-align: center;
	top: -5%;
}
.warning-item{
	display: none;
	background: #38A3AAFF;
	position: fixed;
	font-size: 20px;
	border: 1px solid white;
	width: 300px;
	padding: 20px;
	top: 40%;
	left: 0;
}
.warning-body{
	position: relative;
}
.warning-item-close-btn{
	color: white;
	background: red;
	padding: 3px;
	padding-left: 7px;
	width: 14px;
	position: absolute;
	top: 0;
	right: 0;
	user-select: none;
	cursor: pointer;
}
